# Site wide configuration

title:            שׁוּקה בְּשׁוֹק
locale:           he_IL
url:              http://www.shukabeshok.com
keywords:         שוקה בשוק, כלכלה ישראל, עיתונות ישראל, שוקה צ'רנוביצקי, מחאה חברתית, שחיתות שלטונית, תקשורת ממומנת

# Jekyll configuration

permalink: "/posts/:year/:month/:day/:title.html"
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap
  - jekyll-redirect-from

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false


# Site owner
owner:
  name: שוקה צ'רנוביצקי
  avatar: bio-photo.jpg
  bio: "לא כלכלן, אבל מבין הרבה בכלכלה. הכלכלה הישראלית גורמת לי לפעמים (לפחות פעם ביום) להיות פשוט... בשוק!"
  email: 
  disqus-shortname: shukabeshok
  twitter: #username
  facebook: #username
  google:
    plus: #username
    analytics: UA-64185212-1
    verify: 59uWUtjj5zRzky2MbvtFWYa3w7YpqfZ4HSnDby2nFYw
    ad-client: 
    ad-slot: 
  bing-verify: 
  github: #username
  stackoverflow: #http://stackoverflow.com/users/123456/username
  linkedin: #username
  xing: #username
  instagram: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username
  flickr: #username

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]
